li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: center;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  flex: 0.8;
}

.menu-item {
  cursor: pointer;
}

.icon-container {
  flex: 0.1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-icon {
  width: 50px;
}

.blog-icon {
  width: 40px;
}

.introduce-container {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 15rem;
}