:root {
  --main-bg-color: rgb(255, 226, 226);
  --main-font-color: #4b2c1b;
  --main-link-color: rgb(129, 69, 41);
  --main-link-hover-color: rgb(236, 131, 154);
}

* {
  scroll-behavior: smooth;
  color: var(--main-font-color);
}

body {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-link-color);
  transition: all 1s;
}

a:hover {
  color: var(--main-link-hover-color);
}

#about-me,
#history,
#skill,
#project {
  min-height: 100vh;
  padding: 2rem;
}

.body {
  display: flex;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  min-width: fit-content;
  height: 97vh;
  width: 20vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.menu-container {
  flex: 0.7;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-item {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  transition: all 1.5s;
}

.menu-item:hover {
  transform: rotateX(360deg);
}

.contact {
  flex: 0.15;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--main-bg-color);
}

.icon-container {
  width: 100%;
  flex: 0.1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.github-icon {
  width: 50px;
}

.blog-icon {
  width: 40px;
}

.main {
  width: 100%;
  padding: 2rem;
}

.profile-img {
  width: 15rem;
}

.profile {
  display: flex;
  align-items: center;
}