:root {
  --main-bg-color: #034078;
  --main-font-color: #16425b;
  --main-link-color: #e8e8e4;
  --main-link-hover-color: #aed9e0;
  --section-bg-color-1: #fceeec;
  --section-bg-color-2: #ede2f5;
  --section-bg-color-3: #e1e5f2;
  --section-bg-color-4: #eaf4f4;
}

* {
  scroll-behavior: smooth;
  color: var(--main-font-color);
}

body {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-link-color);
  transition: all 0.5s;
}

a:hover {
  color: var(--main-link-hover-color);
}

section {
  opacity: 0;
  transition: all 2s;
}

#about-me,
#history,
#skill,
#project {
  min-height: 100vh;
  padding: 2rem;
}

#about-me {
  background-color: var(--section-bg-color-1);
}

#history {
  background-color: var(--section-bg-color-2);
}

#skill {
  background-color: var(--section-bg-color-3);
}

#project {
  background-color: var(--section-bg-color-4);
}

.body {
  display: flex;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  min-width: fit-content;
  height: 97vh;
  width: 20vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.icon-container {
  width: 100%;
  flex: 0.1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.github-icon {
  width: 50px;
}

.blog-icon {
  width: 40px;
}

.menu-container {
  flex: 0.7;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-item {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
}

.menu-item.menu-top,
.menu-item.menu-bottom {
  transition: all 1s;
}

.menu-item.menu-top:hover {
  transform: rotateZ(20deg);
}

.menu-item.menu-bottom:hover {
  transform: rotateZ(-20deg);
}

.contact {
  flex: 0.15;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--main-bg-color);
  font-weight: bold;
}

.main {
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 15rem;
}