@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

:root {
  --snow-color: #a9bfec;
  --dot-color: rgb(255, 103, 126);
  --line-color: rgb(255, 159, 178);
  --main-cursor-color: #94e6ff;
  --main-bg-color: #034078;
  --main-font-color: #16425b;
  --main-link-color: #e8e8e4;
  --main-link-hover-color: #aed9e0;
  --section-bg-color-1: #fceeec;
  --section-bg-color-2: #ede2f5;
  --section-bg-color-3: #e1e5f2;
  --section-bg-color-4: #eaf4f4;
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@keyframes fall {
  from {}

  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}

/* 전체 설정 */

* {
  scroll-behavior: smooth;
  color: var(--main-font-color);
  font-family: 'LINESeedKR-Bd';
}

body {
  margin: 0;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-link-color);
  transition: all 0.5s;
}

a:hover {
  color: var(--main-link-hover-color);
}

section {
  opacity: 0;
  transition: all 2s;
}

/* 페이지 */

#about-me,
#history,
#skill,
#project {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 2rem;
}

#about-me {
  background-color: var(--section-bg-color-1);
}

#history {
  background-color: var(--section-bg-color-2);
}

#skill {
  background-color: var(--section-bg-color-3);
}

#project {
  background-color: var(--section-bg-color-4);
}

.body {
  position: relative;
  display: flex;
}

/* 눈 */
.snow {
  position: fixed;
  top: -10px;
  z-index: 2;
  border-radius: 50%;
  background-color: var(--snow-color);
  filter: blur(5px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(3px);
}

/* 포인터 */

/*

.pointer1,
.pointer2 {
  position: absolute;
  border-radius: 50%;
  transform: translate(0px, 0px);
  transition: all 0.1s;
  opacity: 0;
}

.pointer1 {
  z-index: 2;
  width: 18px;
  height: 18px;
  background-color: var(--main-cursor-color);
}

.pointer2 {
  position: absolute;
  z-index: 1;
  width: 25px;
  height: 25px;
  background-color: var(--main-bg-color);
}

*/

/* 헤더 */

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: fit-content;
  height: 100vh;
  width: 20vw;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.icon-container {
  width: 100%;
  flex: 0.1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.github-icon {
  width: 50px;
}

.blog-icon {
  width: 40px;
}

.menu-container {
  flex: 0.7;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-item {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  transition: all 1s;
}

.menu-item:hover {
  transform: rotateX(360deg);
}

.contact {
  flex: 0.15;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--main-bg-color);
  font-weight: bold;
}

/* 메인 */

.main {
  width: 100%;
}

.title {
  margin: 0;
}

/* history */
.time-line-container {
  width: max-content;
  margin: 2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: var(--section-bg-color-1);
}

.time-line {
  border-left: 3px solid var(--line-color);
}

.history-item {
  position: relative;
  margin: 2rem 0;
}

.history-item::before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: var(--dot-color);
  border-radius: 50%;
  margin-top: 0.2rem;
  left: -3rem;
}

/* projects */
.prj-data {
  font-size: 1.2em;
}

.prj-list {
  display: flex;
}

.prj-list-button {
  margin: 1rem 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  background-color: unset;
  transition: 0.5s;
}

.prj-list-button:hover {
  transform: scale(1.04);
}

.selected {
  text-decoration: underline;
}

.ektour-container,
.hntech-container {
  opacity: 0;
  transition: opacity 1s;
  width: 100%;
  position: absolute;
}

.active {
  opacity: 1;
  z-index: 1;
}

/* 슬라이드 */

.slide-container {
  width: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.slide-button {
  height: max-content;
  margin: 2em;
  border: none;
  background-color: unset;
  cursor: pointer;
  z-index: 1;
}

.slide-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 35rem;
  padding: 0;
  overflow: hidden;
}

.slide-item {
  position: relative;
  flex-shrink: 0;
  left: 0;
  width: 100%;
  transition: left 1s;
}

.slide-item.mobile {
  display: flex;
}

.slide-img {
  margin: 0 1rem;
  width: 33rem;
  height: 25rem;
}